source_up

export JLUNA_INSTALL_DIR=$(realpath "$PWD/../../jluna_install")
export JLUNA_INCLUDE_DIR=$(realpath "${JLUNA_INSTALL_DIR}/include/jluna")

export JULIA_BIN_DIR=$(julia -e "println(Sys.BINDIR)")
export JULIA_LIB_DIR=$(realpath ${JULIA_BIN_DIR}/../lib)
export JULIA_INCLUDE_DIR=$(realpath ${JULIA_BIN_DIR}/../include/julia)
